{
  "extends": "airbnb",
  "env"     : {
    "browser" : false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
   "ecmaVersion": 6,
   "sourceType": "script"
 },
  "rules": {
    "semi" : [2, "always"],
    "no-param-reassign": 0,
    "func-names": 0,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-shadow": [2, {"allow": ["err", "done", "user", "data", "options"]}],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used", "argsIgnorePattern": "next|options"}],
    "new-cap": [2, {"capIsNewExceptions": ["Router","Promise","Show","Episode"]}],
    "no-else-return": 0,
    "strict": [2, "global"],
    "no-underscore-dangle": ["error", { "allow": ["_id", "_show"] }],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
